body {
  background-color: #2C2C28;
  color: #FFF;
}

h1 {
  text-align: center;
}

a {
  color: #00d5ff;
}

a:hover {
  color: #c9eef5;
}

.cookie-img {
  border-radius: 40%;
  max-width: 100%;
}

.intro-p {
  font-size: 1.2em;
}
